{% extends 'index.html' %}
{% block content %} 
{% load staticfiles %}
{% include 'sidebar.html' %}
<div class="mainbar">
	<style>	
th, td {
    padding: 15px;
}
img{
  border: none;
}
h3 {
	font: 18px Arial, Helvetica, sans-serif;	
	margin: 0px;
}
h3 small{
	font: 18px Arial, Helvetica, sans-serif;
	margin: 0px;
	color:#08722A;

}
h3 big{
	font: 18px Arial, Helvetica, sans-serif;
	margin: 0px;
	color:#721608;

}
</style>
<h1>Nepse Index Analysis </h1>
<div class="row">
    <div class="col-sm-6">
      <p><h5>Nepse Index as of {{q1.yesterday_date}}: </h5> <h3> {{q1.previous_index}}</h3></p>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{q1.yesterday_date}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{q1.yesterday_date}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{q1.yesterday_date}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{q1.yesterday_date}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{q1.yesterday_date}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{q1.yesterday_date}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
    </div>
    <div class="col-sm-6">
      <p><h5>Predicted Nepse Index as of {{q1.date}}: </h5>
		{% if query.increased_bool %}
		<h3><small> {{q1.predicted_index}}</small></h3>
		{% else %}
		<h3> <big>{{q1.predicted_index}}</big></h3>
		{% endif %}
      </p>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{campany1}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{campany2}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{campany3}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{campany4}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{campany1}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{campany1}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{campany1}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{campany1}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{campany1}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Nepse Index as of {{campany1}}: </h5> <h3> {{q1.previous_index}}</h3></p>
      </div>

    </div>
	

</div>



</div>
<div class="clr"></div>




{% endblock %}
