{% extends 'index.html' %}
{% block content %} 
{% load staticfiles %}
{% include 'sidebarhome.html' %}
<div class="mainbar">
  <style> 
th, td {
    padding: 15px;
}
img{
  border: none;
}
h3 {
  font: 18px Arial, Helvetica, sans-serif;  
  margin: 0px;
}
h3 small{
  font: 18px Arial, Helvetica, sans-serif;
  margin: 0px;
  color:#08722A;

}
h3 big{
  font: 18px Arial, Helvetica, sans-serif;
  margin: 0px;
  color:#721608;

}


hr.myhrline{
     margin: 10px;
}

h3 {
  font: 18px Arial, Helvetica, sans-serif;  
  margin: 0px;
}


h33 {
  font-size: 0.8em ;
  color:black;
  margin-top:-10px;
}

h9 {
  font-size: 1.2em ;
  font-weight:700;
  color:blue;
}

h5 {
  font-size: 0.8em ;
  color:red;
  margin-top:-1px;
}


h4{
  font: 28px ;
}

h7 {
    border-style: solid;
    border-width: 100px;
    color:#721608;
}
</style>

<div class="row" style="margin-left:-90px;">
    <div class="col-sm-9">
    <h1 style="font-weight: 700">{{company_name.1}} </h1>
    <div id='chartdiv' style="width:100%; height:400px;"></div>
    <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="http://www.amcharts.com/lib/3/serial.js"></script>
    <script src="{% static 'js/dataloader.min.js' %}"></script>
    <style>
    body, html {
      font-family: Verdana;
      font-size: 12px;
    }
    #chartdiv {
      width: 100%;
      height: 500px;
    }
    </style>

<script>
    var id = {{id}};
    if(id == 28){var urls1 = "{% static 'js/csv/GOOG.csv' %}";}
    else if(id == 29 ){var urls1 = "{% static 'js/csv/TWTR.csv' %}";}
    else if(id == 30){var urls1 = "{% static 'js/csv/AMZN.csv' %}";}
    else if(id == 31){var urls1 = "{% static 'js/csv/FB.csv' %}";}
    else if(id == 32){var urls1 = "{% static 'js/csv/YHOO.csv' %}";}
    else if(id == 33){var urls1 = "{% static 'js/csv/AAPL.csv' %}";}
    else if(id == 34){var urls1 = "{% static 'js/csv/GPRO.csv' %}";}
    else if(id == 35){var urls1 = "{% static 'js/csv/INTC.csv' %}";}
    else if(id == 36){var urls1 = "{% static 'js/csv/NFLX.csv' %}";}
    else if(id == 37){var urls1 = "{% static 'js/csv/TSLA.csv' %}";}
    
    var chart = AmCharts.makeChart("chartdiv", {
     "type": "serial",
     "zoomable": false,
      "dataLoader": {
      	
      	"url":urls1,
        "format": "csv",
        "delimiter":',',
        "useColumnNames":true,
        "skip":1,
        "reverse": true,
        "showErrors": true,
        "noStyles": true,
        "async": true,
        "load": function( options, chart ) {
          // Here the data is already loaded and set to the chart.
          // We can iterate through it and add proper graphs
          for ( var key in chart.dataProvider[ 0 ] ) {
            if ( chart.dataProvider[ 0 ].hasOwnProperty( key ) && key != chart.categoryField ) {
              var graph = new AmCharts.AmGraph();
              graph.valueField = key;
              graph.type = "line";
              graph.title = key,
              graph.lineThickness = 2;
              chart.addGraph( graph );
            }
          }
        }
    
      },

     "rotate": false,
     "marginTop": 10,
    //"dataDateFormat" = "YYYY-MM-DD";
     "categoryField": "Date",
     "categoryAxis": {
       "gridAlpha": 0.07,
       "axisColor": "#DADADA",
       "startOnAxis": false,
       "title": "Date",
       "dateFormats":{'period':'DD','format':'MMM DD'}
      },
      
     "valueAxes": [{
       "stackType": "none",
       "gridAlpha": 0.07,
     }],
     "graphs": [],
     "legend": {
       "position": "bottom",
       "valueText": "[[value]]",
       "valueWidth": 100,
       "valueAlign": "left",
       "equalWidths": false,
       //"periodValueText": "total: [[value.sum]]"
     },
    "periodSelector": {
          "position": "left",
          "periods": [ {
            "period": "MM",
            "selected": true,
            "count": 1,
            "label": "1 month"
          }, {
            "period": "YYYY",
            "count": 1,
            "label": "1 year"
          }, {
            "period": "YTD",
            "label": "YTD"
          }, {
            "period": "MAX",
            "label": "MAX"
          } ]
        },

     "chartCursor": {
       "cursorAlpha": 0
     },
     "chartScrollbar": {
       "color": "FFFFFF"
     }

    });
//}
</script>
      <!-- <h1>{{current_select}} </h1> -->
	  <div class="row-sm-6">
		  <p><h5>Highest price in last ten days: </h5> <h3> {{high}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Average stock price for last year: </h5> <h3> {{avg}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p><h5>Lowest stock price for last year: </h5> <h3> {{low}}</h3></p>
      </div>
	  <div class="row-sm-6">
		  <p>
		  <h5>Companies with average price lower than lowest price of {{company_name.1}}: </h5>
		  {% for item in companies %}
		   <h3> {{item}}</h3>
		  {% endfor%}
		  </p>
      </div>
	
</div>


        <div class="col-sm-3">
    <!--<div class="gadget">-->
      <h7>Last Update: {{real_time.0.0}}: </h7>
    <hr class="myhrline"/>
    <div class="row-sm-6">
      
      <h9>GOOG </h9> 
      <br><h33> {{real_time.0.1}}</h33> </br>
      <h5> {{real_time.0.2}}</h5>

      </div>
      <hr class="myhrline"/>
    <div class="row-sm-6">
    
      <h9>TWTR </h9> 
      <br><h33> {{real_time.1.1}}</h33> </br>
      <h5> {{real_time.1.2}}</h5>

      </div>
      <hr class="myhrline"/>
    <div class="row-sm-6">
      
      <h9>AMZN </h9> 
      <br><h33> {{real_time.2.1}}</h33> </br>
      <h5> {{real_time.2.2}}</h5>

      </div>
      <hr class="myhrline"/>
    <div class="row-sm-6">
      
      <h9>FB </h9> 
      <br><h33> {{real_time.3.1}}</h33> </br>
      <h5> {{real_time.3.2}}</h5>
      
      </div>
      <hr class="myhrline"/>
    <div class="row-sm-6">
      
      <h9>YHOO </h9> 
      <br><h33> {{real_time.4.1}}</h33> </br>
      <h5> {{real_time.4.2}}</h5>
      
      </div>
      <hr class="myhrline"/>
    <div class="row-sm-6">

      <h9>AAPL </h9> 
      <br><h33> {{real_time.5.1}}</h33> </br>
      <h5> {{real_time.5.2}}</h5>
      </div>
      <hr class="myhrline"/>
    <div class="row-sm-6">
      <h9>GPRO </h9> 
      <br><h33> {{real_time.6.1}}</h33> </br>
      <h5> {{real_time.6.2}}</h5>
      
      </div>
      <hr class="myhrline"/>
    <div class="row-sm-6">
      <h9>INTC </h9> 
      <br><h33> {{real_time.7.1}}</h33> </br>
      <h5> {{real_time.7.2}}</h5>
      
      </div>
      <hr class="myhrline"/>
    <div class="row-sm-6">
      <h9>NFLX </h9> 
      <br><h33> {{real_time.8.1}}</h33> </br>
      <h5> {{real_time.8.2}}</h5>
      
      </div>
      <hr class="myhrline"/>
    <div class="row-sm-6">
      <h9>TSLA </h9> 
      <br><h33> {{real_time.9.1}}</h33> </br>
      <h5> {{real_time.9.2}}</h5>
      
      </div>
      <hr class="myhrline"/>
  <!--</div>-->
    </div>
	

</div>



</div>
<div class="clr"></div>




{% endblock %}
