{% load staticfiles %}
{% block sidebar %}
<div class="sidebar" >
<style type="text/css">
	h6 a{
	color:#d76002;
	font-size: 14px;
	padding-left: 20px;
	padding-top: 0px;
	margin: 0px;
	}
	span{
		color:#d76002;
	}
	.star{
		margin-bottom: 30px;
		margin-top: 20px;
	}
	.sidebar{
		width:200px;
	}
	ul li{
		padding: 0px;
		margin: 0px;
		color:#d76002;
	}

</style>
	<h2 class="star" style="padding:10px 20px 10px 20px;font-weight:700px">Stock</h2>
        <div class="gadget">
          	<h6><a href="{% url 'home' 28 %}" >GOOG</a></h6><br>
			<h6><a href="{% url 'home' 29 %}" >TWTR</a></h6><br>
			<h6><a href="{% url 'home' 30 %}" >AMZN</a></h6><br>
			<h6><a href="{% url 'home' 31 %}" >FB</a></h6><br>
			<h6><a href="{% url 'home' 32 %}" >YHOO</a></h6><br>
			<h6><a href="{% url 'home' 33 %}" >AAPL</a></h6><br>
			<h6><a href="{% url 'home' 34 %}" >GPRO</a></h6><br>
			<h6><a href="{% url 'home' 35 %}" >INTC</a></h6><br>
			<h6><a href="{% url 'home' 36 %}" >NFLX</a></h6><br>
			<h6><a href="{% url 'home' 37 %}" >TSLA</a></h6><br>
		
        </div>
  </div>
{% endblock %}