{% load staticfiles %}
{% block sidebar %}
<div class="sidebar" >
<style type="text/css">
	h6 a{
	color:#d76002;
	font-size: 14px;
	padding-left: 10px;
	padding-top: 0px;
	margin: 0px;
	}
	.list-group{
		margin-bottom: 30px;
		margin-top: 20px;
		padding-right: 10px;

	}
	ul li{
		padding: 0px;
		margin: 0px;
		color:#d76002;
	}

</style>

	<h2 class="list-group" style="padding:10px 20px 10px 20px; font-weight: 700">Stock</h2>
        <!-- <div class="gadget"> -->
          	<li class="list-group-item"><a href="{% url 'home' 28 %}" >GOOG</a></li><br>
			<li class="list-group-item"><a href="{% url 'home' 29 %}" >TWTR</a></li><br>
			<li class="list-group-item"><a href="{% url 'home' 30 %}" >AMZN</a></li><br>
			<li class="list-group-item"><a href="{% url 'home' 31 %}" >FB</a></li><br>
			<li class="list-group-item"><a href="{% url 'home' 32 %}" >YHOO</a></li><br>
			<li class="list-group-item"><a href="{% url 'home' 33 %}" >AAPL</a></li><br>
			<li class="list-group-item"><a href="{% url 'home' 34 %}" >GPRO</a></li><br>
			<li class="list-group-item"><a href="{% url 'home' 35 %}" >INTC</a></li><br>
			<li class="list-group-item"><a href="{% url 'home' 36 %}" >NFLX</a></li><br>
			<li class="list-group-item"><a href="{% url 'home' 37 %}" >TSLA</a></li><br>
		
        <!-- </div> -->
  </div>
{% endblock %}